* {
    margin: 0%;
    padding: 0%;
    // color: white;

    &::-webkit-scrollbar{
        display: none;
    }
}

a {
    color: white;
    text-decoration: none;
}

.header {
    height: 100px;
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;


    >img {
        height: 100%;

    }

    >div {
        // border: 1px solid red;
        width: 100%;
        margin-left: 4vmax;

        >a {
            margin: 2vmax;
            font-size: 1.3rem;
            font-weight: 300;
        }
    }

    >svg {
        color: white;
        font-size: 2rem;
        cursor: pointer;

        &:hover{
            color: gray;
        }
    }


}